doctype html
html
    head
        title DataHub4U :: Register
        script(type='text/javascript', src='../public/javascripts/register.js')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='register/stylesheets/register.css')
    body
        header(id='navigate_bar', class='navigate_bar')
            .navbarContainer
                nav(class='navbar navbar-light')
                    .navbar-collapse(id='header_navigator')
                        center
                            a(class='nav-link', href='/', title='go to homepage', id='homeButton')
                                img(src='../public/images/logo.png', id='home_link_image')
        .login.well
            h1  Welcome
            hr
            form(id='register-form', onsubmit='return confirmUserInfo();', method='POST', action='/register')
                .form-group
                    label(for='forename') Forename
                    input(type='text', name='forename', class='form-control form-control-lg',
                    id='forename', placeholder='Enter your forename',
                    required, data-required-msg='Forename is required')
                .form-group
                    label(for='middle_initial') Middle Initial
                    input(type='text', name='middle_initial', class='form-control form-control-lg',
                    id='middle_initial', placeholder='Enter your middle initial')
                .form-group
                    label(for='surname') Surname
                    input(type='text', name='surname', class='form-control form-control-lg',
                    id='surname', placeholder='Enter your surname',
                    required, data-required-msg='Surname is required')
                .form-group
                    label(for='email') Email
                    input(type='email', name='email', class='form-control form-control-lg',
                    id='email', placeholder='Enter email',
                    required data-required-msg='Email address is required')
                .form-group
                    label(for='password') Password
                    input(type='password', name='password', class='form-control form-control-lg',
                    id='password', placeholder='Enter password'
                    required, data-required-msg='Password is required')
                .form-group
                    label(for='confirm-password') Confirm Password
                    input(type='password', name='confirm-password', class='form-control form-control-lg',
                    id='confirm-password', placeholder='Confirm password'
                    required, data-required-msg="Please confirm your password")
                .form-group
                    button.btn.btn-default(id='registerButton', type='submit') Register
                    a(href="login", style='margin-left: 10px') Or Login
                .hiddenDiv(id='hidden_div')
        script.
            function alertDuplicatedID() {
                const alerted = !{JSON.stringify(alert)};

                console.log(alerted);

                if (alerted) {
                    window.alert(`The ID ${alerted.id} is already in used. Please choose the other id.`);
                }
            }

            window.onload = alertDuplicatedID;